body{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif; 
}

:root{
    --main-bg-color: #E83E8C;
}

/*****************************
    Estilos para el navbar
******************************/
.navbar{
    background-color: var(--main-bg-color);
}

.navbar-brand img{
    height: 3.3125rem;
}

/*En las pantallas sobre los 768px el h1 sera de 60px*/
h1{
    font-size: 3.75rem; /*60px*/
    font-weight: 600;
    color: #707070;
}

#productos h1{
    padding: 60px 0px;
}

#productos{
    padding-top: 3.75rem;
}

/*si la pantalla e smenor a 768 la fuente del h1 sera de 35px*/
@media (max-width: 768px){
    #productos h1{
        font-size: 35px;
        padding: 30px 0px;
        margin-top: 30px;
    }
}

/*Estilos de las tarjetas de credito*/
#ahora-aceptamos{
    background-color: #17a2b8;
}

footer{
    background-color: var(--main-bg-color);
}

footer img{
    height: 6.25rem;
}
